#map,
html,
body {
  width: 100%;
  height: 100%;
  min-height: 100%;
  background: #eceff1; 
  
}

img.one {
  height: 40%;
  width: 40%;
}

img.two {
  height: 50%;
  width: 50%;
}

.navbar {
	margin:0 !important;
	padding: 0px 4% !important;
        }

.navbar-nav .nav-item .nav-link {
    color: white;
}
.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    background-color: #757575;
}

.div-box {
  
  padding-top: 7%;
  padding-right: 6%;
  padding-bottom: 7%;
  padding-left: 6%;
  height: auto;
  color: black;
  background: white;
}

.zoom:hover {
  -ms-transform: scale(1.3); /* IE 9 */
  -webkit-transform: scale(1.3); /* Safari 3-8 */
  transform: scale(1.3);  
}

.div-box2 {
  
  padding-top: 7%;
  padding-right: 6%;
  padding-bottom: 7%;
  padding-left: 6%;
  height: 100%;
  color: black;
  background: white;
}

.imageFocus:focus img{
    border: 2px solid #00bcd4;
}

img.imageAnchor {
    border: 3px solid #00bcd4;
}

.panel-footer.panel-custom {
    color: white;
    position: fixed; 
    bottom: 0; 
    width: 100%; 
    border-top: 5px solid #00acc1;
}

#submission {
  text-align: center;
  }


.legend {
  padding: 10px;
  line-height: 18px;
  color: #555;
  background-color: #fff;
  border-radius: 5px;
}
.legend i {
  float: left;
  width: 18px;
  height: 18px;
  margin-right: 8px;
  opacity: 0.7;
}

#map {
  height: 100%;
  padding: 0;
  margin: 0;
}

#map-neighborhood {
  height: 400px;
  margin-top: 50px;
  position: relative
}

.slider {
  margin: 0 auto;
}

.slick-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  opacity: 0;
  transition: opacity 1.25s ease-out;
}

.slick-slide.slick-current.slick-center {
  opacity: 1;
}

